<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Contact Us</title>


</head>

<body>

  {% include "health/navbar.html" %}
  <br><br>

  <div class="jumbotron">
    <div class="container">
    <center>
    <h1 class="display-4 mb-2"><strong>Contact Us</strong></h1>
  </center>
  <div class="row mt-5 mb-2">
    <h5 class="adress display-5">
        <i class="fa fa-map-marker" aria-hidden="true"> </i>
        <strong> Address : </strong>Sai Sandesh, Matheran Road, Panvel City, Mumbai, Maharashtra - 410206
    </h5>
  </div>
  <div class="row mb-2">
    <h5 class="phone">
        <i class="fa fa-phone" aria-hidden="true"> </i>
        <strong> Contact no : </strong>+91 976985549
    </h5>
  </div>
  <div class="row mb-2">
    <h5 class="email">
        <i class="fa fa-envelope" aria-hidden="true"> </i>
        <strong> Email : </strong>healthcare@gmail.com
    </h5>
  </div>
  <div class="row mb-2">
    <h5>
        <i class="fa fa-globe" aria-hidden="true"> </i>
        <strong> Website : </strong><a href="/">www.healthcare.com</a>
    </h5> 
    </div>
  </div>
</div>
  {% include "health/footer.html" %}
</body>

</html>